<html>
  <body>
   <h1> Welcome to Music Library! </h1>
     <div>
       <a href = "/albums">
         <label> Go to Albums </label>
        </a> 
     </div>
        <a href = "/artists">
         <label> Go to Artists </label>
        </a>
     <div>
     </div>
  </body>
</html>
