<form action = "/artists" method = "POST">

   <div>
    <label>Name of the artist:</label>
    <input type = "text" name = "name"/>
    </div>

    <div>
    <label>Genre:</label>
    <input type = "text" name = "genre"/>
    </div>

    <div>
    <input type = "submit" />
    </div>

</form>