<form action = "/albums" method = "POST">

   <div>
    <label>Album-Title:</label>
    <input type = "text" name = "title"/>
    </div>

    <div>
    <label>Album-release_year:</label>
    <input type = "text" name = "release_year"/>
    </div>

    <div>
    <label>Album-artist_id:</label>
    <input type = "number" name = "artist_id"/>
    </div>

    <div>
    <input type = "submit" />
    </div>

</form>
